body{
    background-color: rgb(166, 12, 105);
    font-size: 25px;
}

  form {
    background-color: rgb(101, 6, 63);
    color: white;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

table {
    width: 100%; /* Ensure the table takes the full width of its container */
    padding: 10px; /* Add padding to the table to keep content inside */
}

form input, select, button {
    font-size: 25px;
}

#button {
    background-color: white;
    color: black;
    padding: 16px 0; /* Adjust the vertical padding */
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border: none; /* Remove the border */
    text-align: center; 
}
